.listItem:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 600px; /* Set your desired width */
    background-color: red;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 100;
    transition: opacity 0.3s;
    opacity: 1;
    visibility: visible;

}